<html>
<head>
  <!-- Debug, don't index yet -->
  <meta name="robots" content="noindex,nofollow">

  <title>{{ Site.title }}{% if pageName|length > 0 %} - {{ pageName }}{% endif %}</title>
  <meta name="description" content="{{ Site.description }}">
  <meta name="keywords" content="{{ Site.keywords }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/vendor/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet" type='text/css' media="screen">
  <link href="/public/vendor/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet" type='text/css' media="screen">
  <link href="/public/vendor/font-awesome/css/font-awesome.min.css " rel="stylesheet" type='text/css' media="screen">
  <link href="/public/css/site.css" rel="stylesheet" type='text/css' media="screen">
</head>
<body>
  <div class="pageContent">
    {% include 'elements/nav_menu.html' %}
    {% block content %}{% endblock %}
  </div>
  <script src="/public/vendor/bootstrap/docs/assets/js/html5shiv.js"></script>
  <script src="/public/vendor/jquery/jquery.min.js"></script>
  <script src="/public/vendor/bootstrap/docs/assets/js/bootstrap.min.js"></script>
  <script src="/public/js/site.js"></script>
</body>
</html>